body{
    background-color: black;
}
.container{
    width: 100%;
    background-image: url(../../img/home.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 6%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.menu{
    width:30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
h1{
    color: #fff;
    font-size: 25px;
}
h5{
    font-size: 30px;
    color:linear-gradient(to right, #ff105f,#ffad06);
}
.submit-btn{
    width: 15%;
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border:0;
    outline:none ;
    border-radius: 30px;
    margin-top: 10px;
}
.product-item:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.col{
    padding:0px;
    margin:1%;
    float:left;
    width:25%;
}

.inside{
    border:solid ,white;
    padding: 0px 15px;
    background-color: #706f6f28;
    border-radius: 50px;
    width: 60%;
    margin-left: 30px;
}
.inside a{
    text-decoration: none;
}
.content{
    border:solid ,white;
    padding: 0px 15px;
    background-color: darkgray;
    border-radius: 50px;
}

.content i{
    position: relative;
    float: right;
}
img{
    width: 100%;
}
.col2{
    background:whites;
    padding-bottom: 50px;
    margin:1%;
    float:left;
    width:70%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.seat-list {
    display: flex;
    flex-wrap: wrap;
    
}
.seat-container {
    background-color: white;
    width: 100%;
    display: inline-block;
    line-height: 0.6;
}
.product-item img{
    height: 200px;
}
.product-item-info h1{
    font-size: small;
}
.booked {
    background-color: red;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}
.modal-content h3 {
    text-align: center;
    text-decoration: underline;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    width: 100%;
    padding: 3px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.product-item{
    width: 100%;
}
.minicol1{
    background:whites;
    float:left;
    width:25%;
    padding-right: 15px;
}
.minicol2 img{
    width: 200px;
    height: 45px;
    border-radius: 10px;
}
.seat-container{
    border-radius: 10px;
}
.inside-now{
    border:solid ,white;
    padding: 0px 15px;
    background-color: red;
    border-radius: 50px;
    width: 60%;
    margin-left: 30px;
}
.inside-now a{
    text-decoration: none;
}